.articles-list-block {
  display: flex;
  gap: 52px;
  margin-bottom: 96px;

  &__left {
    max-width: 800px;
  };
  &__right {

    &_title {
      color: rgb(41, 47, 54);
      font-family: DM Serif Display;
      font-size: 25px;
      font-weight: 400;
      line-height: 125%;
      margin-bottom: 24px;
    };
    &_tags {
      display: flex;
      flex-wrap: wrap;
      row-gap: 11px;
      column-gap: 10px;
    }
    &_tag {
      color: rgb(41, 47, 54);
      font-family: Jost;
      font-size: 18px;
      font-weight: 400;
      line-height: 125%;
      text-align: center;
      padding: 9px 30px 9px 30px;
      border-radius: 10px;
      background: rgb(244, 240, 236);
      height: 41px;
      transition: background-color 0.3s ease;
    };
    &_tag-active {
      color: rgb(255, 255, 255);
      background: rgb(41, 47, 54);
      transition: background-color 0.3s ease;
    }
  }

};
.articles-list {

  &__article {
    margin-bottom: 90px;
    &_title {
      color: rgb(41, 47, 54);
      font-family: DM Serif Display;
      font-size: 50px;
      font-weight: 400;
      line-height: 125%;
      margin-bottom: 21px;
    };
    &_img {
      margin-bottom: 46px;
      max-width: 100%;
      height: auto;
    };
    &_date-n-path {
      display: flex;
      gap: 409px;
      margin-bottom: 48px;
    };
    &_date, &_path {
      color: rgb(77, 80, 83);
      font-family: Jost;
      font-size: 16px;
      font-weight: 400;
      line-height: 150%;
    };
    &_paragraph {
      color: rgb(77, 80, 83);
      font-family: Jost;
      font-size: 22px;
      font-weight: 400;
      line-height: 150%;
      margin-bottom: 35px;
    };
    &_quote {
      margin-bottom: 27px;
      position: relative;
      border-radius: 50px;
      background: rgb(244, 240, 236);
      color: rgb(205, 162, 116);
      font-family: DM Serif Display;
      font-style: italic;
      font-size: 200px;
      font-weight: 400;
      line-height: 125%;
      text-align: center;
      padding: 53px 227px 53px 227px;
      height: 267px;
    };
    &_quote-text {
      line-height: 125%;
      font-size: 25px;
      width: 345px;
      height: 70px;
      margin-top: 91px;
    }
    &_quote-symbol {
      position: absolute;
      transform: rotate(-180.00deg);
      height: 133px;
      left: 364px;
    };
    &_paragraph-list {
      display: flex;
      gap: 14px;
    };
    &_paragraph-number {
      color: rgb(205, 162, 116);
      font-family: DM Serif Display;
      font-size: 20px;
      font-weight: 400;
      line-height: 125%;
    }
  };
};
