.articles-block {
  margin-bottom: 96px;
  &__title {
    color: rgb(41, 47, 54);
    font-family: DM Serif Display;
    font-size: 50px;
    font-weight: 400;
    line-height: 125%;
    text-align: center;
    margin-bottom: 12px;
    &_blog {
      margin-bottom: 30px;
      text-align: left;
    }
  };
  &__text {
    color: rgb(77, 80, 83);
    font-family: Jost;
    font-size: 22px;
    font-weight: 400;
    line-height: 150%;
    text-align: center;
    margin-bottom: 52px;
  };
  &__articles {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(calc(33.33% - 20px), 1fr));
    gap: 30px 28px;
    &.blog-articles {
      margin-bottom: 51px;
    };
  };
  &__article {
    height: 521px;
    padding: 21px;
    border: 1px solid rgb(231, 231, 231);
    border-radius: 62px;
    box-shadow: 0px 10px 30px 0px rgba(255, 255, 255, 0.25);
    transition: background-color 0.3s ease;
  };
  &__article:hover {
    background: rgb(244, 240, 236);
  };
  &__article:hover .article__date-and-btn_btn {
    background: rgb(255, 255, 255);
  };
  &__page-buttons {
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-bottom: 200px;
    &_btn {
      border: 1px solid rgb(205, 162, 116);
      border-radius: 50%;
      width: 52px;
      height: 52px;
      background: rgb(255, 255, 255);
      color: rgb(41, 47, 54);
      font-family: Jost;
      font-size: 16px;
      font-weight: 500;
      line-height: 150%;
      transition: background-color 0.3s ease;
      &.active-page-btn {
        background: rgb(244, 240, 236);
        border: none;
      };
    };
    &_btn:hover {
      background: rgb(244, 240, 236);
      border: none;
    };
  };
};
.article {
  &__design {
    &_img {
      width: 340px;
      height: 290px;
      padding-top: 228px;
      padding-left: 20px;
      margin-bottom: 13px;
    };
    &_name {
      border-radius: 8px 8px 8px 0px;
      background: rgb(255, 255, 255);
      width: 124px;
      height: 41px;
      display: flex;
      align-items: center;
      justify-content: center;
      color: rgb(77, 80, 83);
      font-family: Jost;
      font-size: 16px;
      font-weight: 400;
      line-height: 150%;
      text-transform: capitalize;
    };
  };
  &__title {
    margin-bottom: 18px;
    color: rgb(41, 47, 54);
    font-family: DM Serif Display;
    font-size: 25px;
    font-weight: 400;
    line-height: 125%;
    text-align: left;
    width: 81%;
  };
  &__date-and-btn {
    display: flex;
    justify-content: space-between;
    align-items: center;
    &_date {
      color: rgb(77, 80, 83);
      font-family: Jost;
      font-size: 16px;
      font-weight: 400;
      line-height: 150%;
      text-align: left;
      text-transform: capitalize;
    };
    &_btn {
      width: 52px;
      height: 52px;
      border-radius: 50%;
      border: none;
      background: rgb(244, 240, 236);
      transition: background-color 0.3s ease;
    };
  };
};
.first-article-img {
  background-image: url(./img/article_1.png);
};
.second-article-img {
  background-image: url(./img/article_2.png);
};
.third-article-img {
  background-image: url(./img/article_3.png);
};