* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

img {
  max-width: 100%;
}

a {
  text-decoration: none;
}

.center {
  padding-left: calc(50% - 600px);
  padding-right: calc(50% - 600px);
}

.start-block {
  height: 758px;
  margin-bottom: 96px;
}
.start-block__container {
  border-radius: 70px;
  height: 100%;
  background-image: url("./img/start_img.png");
  background-position: center top -540px;
  background-clip: content-box;
}
.start-block__title {
  color: rgb(41, 47, 54);
  font-family: DM Serif Display;
  font-size: 65px;
  font-weight: 400;
  line-height: 125%;
  text-align: left;
  width: 40%;
  padding-top: 208px;
  padding-left: 52px;
  padding-bottom: 18px;
}
.start-block__text {
  color: rgb(77, 80, 83);
  font-family: Jost;
  font-size: 22px;
  font-weight: 400;
  line-height: 150%;
  text-align: left;
  padding-left: 52px;
  width: 39%;
  padding-bottom: 21px;
}
.start-block__btn {
  width: 220.14px;
  height: 75px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  margin-left: 52px;
  border-radius: 18px;
  box-shadow: 0px 10px 20px 0px rgba(192, 192, 192, 0.35);
  background: rgb(41, 47, 54);
  color: rgb(255, 255, 255);
  font-family: Jost;
  font-size: 18px;
  font-weight: 600;
  line-height: 125%;
  text-align: center;
}

.header {
  padding-top: 53px;
  padding-bottom: 57px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header__right {
  display: flex;
  width: 243px;
  justify-content: space-between;
}
.header__right_link {
  color: rgb(41, 47, 54);
  font-family: Jost, sans-serif;
  font-size: 20px;
  font-weight: 400;
  line-height: 125%;
  text-align: center;
}

.follow-block {
  margin-bottom: 96px;
}
.follow-block__title {
  color: rgb(41, 47, 54);
  font-family: DM Serif Display;
  font-size: 50px;
  font-weight: 400;
  line-height: 125%;
  text-align: center;
  margin-bottom: 8px;
}
.follow-block__text {
  color: rgb(77, 80, 83);
  font-family: Jost;
  font-size: 22px;
  font-weight: 400;
  line-height: 150%;
  text-align: center;
  margin-bottom: 93px;
}

.projects {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto auto;
  row-gap: 54px;
}

.project {
  max-width: 550px;
  height: 620px;
}
.project__img {
  height: 525px;
  background-clip: content-box;
  margin-bottom: 28px;
}
.project__img_first {
  background-image: url("./img/project_1.png");
  background-position: -100px -275px;
  border-radius: 0px 80px 0px 0px;
}
.project__img_second {
  background-image: url("./img/project_2.png");
  background-position: -55px -455px;
  border-radius: 80px 0px 0px 0px;
}
.project__img_third {
  background-image: url("./img/project_3.png");
  background-position: -75px -175px;
  border-radius: 0px 0px 80px 0px;
}
.project__img_fourth {
  background-image: url("./img/project_4.png");
  background-position: -132px -275px;
  border-radius: 0px 0px 0px 80px;
}
.project__info {
  display: flex;
  justify-content: space-between;
}
.project__subscribe_title {
  color: rgb(41, 47, 54);
  font-family: DM Serif Display;
  font-size: 25px;
  font-weight: 400;
  line-height: 125%;
  text-align: left;
  margin-bottom: 4px;
}
.project__subscribe_text {
  color: rgb(77, 80, 83);
  font-family: Jost;
  font-size: 22px;
  font-weight: 400;
  line-height: 150%;
  text-align: left;
}
.project__btn {
  width: 70px;
  height: 70px;
  border-radius: 50%;
  border: none;
  background: rgb(244, 240, 236);
}

.statistic-block {
  height: 457px;
  background: rgb(244, 240, 236);
  display: flex;
  justify-content: center;
  margin-bottom: 96px;
}
.statistic-block-data {
  display: flex;
  align-items: center;
  max-width: 1200px;
  width: 100%;
}
.statistic-block__achievement {
  max-width: 231px;
  width: 100%;
  margin: 0 auto;
}
.statistic-block__number {
  text-align: center;
  color: rgb(205, 162, 116);
  font-family: DM Serif Display;
  font-size: 85px;
  font-weight: 400;
  line-height: 125%;
}
.statistic-block__text {
  text-align: center;
  color: rgb(77, 80, 83);
  font-family: Jost;
  font-size: 22px;
  font-weight: 400;
  line-height: 150%;
}

.articles-block {
  margin-bottom: 96px;
}
.articles-block__title {
  color: rgb(41, 47, 54);
  font-family: DM Serif Display;
  font-size: 50px;
  font-weight: 400;
  line-height: 125%;
  text-align: center;
  margin-bottom: 12px;
}
.articles-block__title_blog {
  margin-bottom: 30px;
  text-align: left;
}
.articles-block__text {
  color: rgb(77, 80, 83);
  font-family: Jost;
  font-size: 22px;
  font-weight: 400;
  line-height: 150%;
  text-align: center;
  margin-bottom: 52px;
}
.articles-block__articles {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(calc(33.33% - 20px), 1fr));
  gap: 30px 28px;
}
.articles-block__articles.blog-articles {
  margin-bottom: 51px;
}
.articles-block__article {
  height: 521px;
  padding: 21px;
  border: 1px solid rgb(231, 231, 231);
  border-radius: 62px;
  box-shadow: 0px 10px 30px 0px rgba(255, 255, 255, 0.25);
  transition: background-color 0.3s ease;
}
.articles-block__article:hover {
  background: rgb(244, 240, 236);
}
.articles-block__article:hover .article__date-and-btn_btn {
  background: rgb(255, 255, 255);
}
.articles-block__page-buttons {
  display: flex;
  justify-content: center;
  gap: 20px;
  margin-bottom: 200px;
}
.articles-block__page-buttons_btn {
  border: 1px solid rgb(205, 162, 116);
  border-radius: 50%;
  width: 52px;
  height: 52px;
  background: rgb(255, 255, 255);
  color: rgb(41, 47, 54);
  font-family: Jost;
  font-size: 16px;
  font-weight: 500;
  line-height: 150%;
  transition: background-color 0.3s ease;
}
.articles-block__page-buttons_btn.active-page-btn {
  background: rgb(244, 240, 236);
  border: none;
}
.articles-block__page-buttons_btn:hover {
  background: rgb(244, 240, 236);
  border: none;
}

.article__design_img {
  width: 340px;
  height: 290px;
  padding-top: 228px;
  padding-left: 20px;
  margin-bottom: 13px;
}
.article__design_name {
  border-radius: 8px 8px 8px 0px;
  background: rgb(255, 255, 255);
  width: 124px;
  height: 41px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: rgb(77, 80, 83);
  font-family: Jost;
  font-size: 16px;
  font-weight: 400;
  line-height: 150%;
  text-transform: capitalize;
}
.article__title {
  margin-bottom: 18px;
  color: rgb(41, 47, 54);
  font-family: DM Serif Display;
  font-size: 25px;
  font-weight: 400;
  line-height: 125%;
  text-align: left;
  width: 81%;
}
.article__date-and-btn {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.article__date-and-btn_date {
  color: rgb(77, 80, 83);
  font-family: Jost;
  font-size: 16px;
  font-weight: 400;
  line-height: 150%;
  text-align: left;
  text-transform: capitalize;
}
.article__date-and-btn_btn {
  width: 52px;
  height: 52px;
  border-radius: 50%;
  border: none;
  background: rgb(244, 240, 236);
  transition: background-color 0.3s ease;
}

.first-article-img {
  background-image: url(./img/article_1.png);
}

.second-article-img {
  background-image: url(./img/article_2.png);
}

.third-article-img {
  background-image: url(./img/article_3.png);
}

.footer {
  display: flex;
  gap: 101px;
  margin-bottom: 134px;
}
.footer__left {
  width: 393px;
}
.footer__left_logo {
  margin-bottom: 18px;
}
.footer__left_text {
  color: rgb(77, 80, 83);
  font-family: Jost;
  font-size: 22px;
  font-weight: 400;
  text-align: left;
  margin-bottom: 31px;
}
.footer__left_social-net {
  display: flex;
  gap: 54px;
}
.footer__middle {
  width: 125px;
}
.footer__middle_title {
  color: rgb(41, 47, 54);
  font-family: DM Serif Display;
  font-size: 25px;
  font-weight: 400;
  text-align: left;
  margin-bottom: 9px;
}
.footer__middle_links {
  height: 198px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
.footer__middle_link {
  color: rgb(77, 80, 83);
  font-family: Jost;
  font-size: 22px;
  font-weight: 400;
  text-align: left;
}
.footer__right_title {
  margin-bottom: 26px;
  color: rgb(41, 47, 54);
  font-family: DM Serif Display;
  font-size: 25px;
  font-weight: 400;
  text-align: left;
}
.footer__right_contacts {
  display: flex;
  height: 200px;
  flex-direction: column;
  justify-content: space-between;
}
.footer__right_contact {
  color: rgb(77, 80, 83);
  font-family: Jost;
  font-size: 22px;
  font-weight: 400;
  text-align: left;
}

.blog-main {
  background-image: url(./img/articles-main.png);
  height: 356px;
  background-repeat: no-repeat;
  background-position: center;
  padding-left: calc(50% - 960px);
  padding-right: calc(50% - 960px);
  margin-bottom: 200px;
  display: flex;
  justify-content: center;
  align-items: flex-end;
}
.blog-main-details {
  background-image: url(./img/blog_details_main.png);
}
.blog-main__text {
  padding: 41px 78px;
  background-color: rgb(255, 255, 255);
  border-radius: 37px 37px 0px 0px;
}
.blog-main__text_title {
  color: rgb(41, 47, 54);
  font-family: DM Serif Display;
  font-size: 50px;
  font-weight: 400;
  line-height: 125%;
}
.blog-main__text_desc {
  color: rgb(77, 80, 83);
  font-family: Jost;
  font-size: 22px;
  font-weight: 400;
  line-height: 150%;
  text-align: center;
}

.latest-post {
  margin-bottom: 172px;
}
.latest-post__title {
  color: rgb(41, 47, 54);
  font-family: DM Serif Display;
  font-size: 50px;
  font-weight: 400;
  line-height: 125%;
  text-align: left;
  margin-bottom: 27px;
}
.latest-post__content {
  display: flex;
  align-items: center;
  border: 1px solid rgb(231, 231, 231);
  border-radius: 62px;
  box-shadow: 0px 10px 30px 0px rgba(255, 255, 255, 0.25);
  padding: 22px;
  gap: 65px;
}
.latest-post__content_subtitle {
  color: rgb(41, 47, 54);
  font-family: DM Serif Display;
  font-size: 25px;
  font-weight: 400;
  line-height: 125%;
  margin-bottom: 22px;
  width: 92%;
}
.latest-post__content_text {
  color: rgb(77, 80, 83);
  font-family: Jost;
  font-size: 22px;
  font-weight: 400;
  line-height: 150%;
  margin-bottom: 41px;
}
.latest-post__content_date-and-btn {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.latest-post__date-and-btn_date {
  color: rgb(77, 80, 83);
  font-family: Jost;
  font-size: 16px;
  font-weight: 400;
  line-height: 150%;
}
.latest-post__date-and-btn_btn {
  width: 52px;
  height: 52px;
  border-radius: 50%;
  border: none;
  background: rgb(244, 240, 236);
}

.articles-list-block {
  display: flex;
  gap: 52px;
  margin-bottom: 96px;
}
.articles-list-block__left {
  max-width: 800px;
}
.articles-list-block__right_title {
  color: rgb(41, 47, 54);
  font-family: DM Serif Display;
  font-size: 25px;
  font-weight: 400;
  line-height: 125%;
  margin-bottom: 24px;
}
.articles-list-block__right_tags {
  display: flex;
  flex-wrap: wrap;
  row-gap: 11px;
  column-gap: 10px;
}
.articles-list-block__right_tag {
  color: rgb(41, 47, 54);
  font-family: Jost;
  font-size: 18px;
  font-weight: 400;
  line-height: 125%;
  text-align: center;
  padding: 9px 30px 9px 30px;
  border-radius: 10px;
  background: rgb(244, 240, 236);
  height: 41px;
  transition: background-color 0.3s ease;
}
.articles-list-block__right_tag-active {
  color: rgb(255, 255, 255);
  background: rgb(41, 47, 54);
  transition: background-color 0.3s ease;
}

.articles-list__article {
  margin-bottom: 90px;
}
.articles-list__article_title {
  color: rgb(41, 47, 54);
  font-family: DM Serif Display;
  font-size: 50px;
  font-weight: 400;
  line-height: 125%;
  margin-bottom: 21px;
}
.articles-list__article_img {
  margin-bottom: 46px;
  max-width: 100%;
  height: auto;
}
.articles-list__article_date-n-path {
  display: flex;
  gap: 409px;
  margin-bottom: 48px;
}
.articles-list__article_date, .articles-list__article_path {
  color: rgb(77, 80, 83);
  font-family: Jost;
  font-size: 16px;
  font-weight: 400;
  line-height: 150%;
}
.articles-list__article_paragraph {
  color: rgb(77, 80, 83);
  font-family: Jost;
  font-size: 22px;
  font-weight: 400;
  line-height: 150%;
  margin-bottom: 35px;
}
.articles-list__article_quote {
  margin-bottom: 27px;
  position: relative;
  border-radius: 50px;
  background: rgb(244, 240, 236);
  color: rgb(205, 162, 116);
  font-family: DM Serif Display;
  font-style: italic;
  font-size: 200px;
  font-weight: 400;
  line-height: 125%;
  text-align: center;
  padding: 53px 227px 53px 227px;
  height: 267px;
}
.articles-list__article_quote-text {
  line-height: 125%;
  font-size: 25px;
  width: 345px;
  height: 70px;
  margin-top: 91px;
}
.articles-list__article_quote-symbol {
  position: absolute;
  transform: rotate(-180deg);
  height: 133px;
  left: 364px;
}
.articles-list__article_paragraph-list {
  display: flex;
  gap: 14px;
}
.articles-list__article_paragraph-number {
  color: rgb(205, 162, 116);
  font-family: DM Serif Display;
  font-size: 20px;
  font-weight: 400;
  line-height: 125%;
}

/*# sourceMappingURL=style.css.map */
